@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap";

* {
margin:0;
padding:0
}
#dark_text{
   color: white;
}

/* Default Theme Styles */
body {


margin:0;
padding:0;
color: #414f57;
background: linear-gradient(-45deg, #222222, #555555, #111111, #666666);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.profile-nav {
text-align:left;
margin:4px
}

a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: yellow;
}
.brg {
    

        color: rgb(236, 66, 55);
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    
}


.profile-content {
margin:10px;
padding:10px;
border-radius:10px;
text-align: center;
    font-family: JetBrains Mono, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    display: block;
    align-self: end;
font-weight:300;

height:100vh
}

@keyframes gradient {
0% {
background-position:0 50%
}

50% {
background-position:100% 50%
}

100% {
background-position:0 50%
}
}

@-webkit-keyframes {
0% {
background-position:0 50%
}

50% {
background-position:100% 50%
}

100% {
background-position:0 50%
}
}

.profile-nav a {
color:#fff
}

.theme-switch {
    display: inline; /* Use "inline-block" for more control over spacing */
}

.myButton {
box-shadow:3px 4px 0 0 #4e6096;
background:linear-gradient(to bottom,#ee7752 5%,#e73c7d 100%);
background-color:#ee7752;
border-radius:10px;
border:1px solid #4e6096;
display:inline-block;
cursor:pointer;
padding:.5em 1em;
text-decoration:none;
text-shadow:0 1px 0 #0c4a3a
}

.myButton:hover {
background:linear-gradient(to bottom,#e73c7d 5%,#ee7752 100%);
background-color:#e73c7d
}

/*SELECT BOX FOR THEME DROPDOWN*/
select {
/* styling */
box-shadow:3px 4px 0 0 #4e6096;
background-color:white;
border-radius:10px;
border:1px solid #4e6096;
display:inline-block;
font:inherit;
line-height:1.5em;
padding:.4em 3.5em .4em 1em;
/* reset */
margin:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}

/*Selectbox Arrow*/
select.classic {
background-image:linear-gradient(45deg,transparent 50%,blue 50%),linear-gradient(135deg,blue 50%,transparent 50%),linear-gradient(to right,skyblue,skyblue);
background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),100% 0;
background-size:5px 5px,5px 5px,2.5em 2.5em;
background-repeat:no-repeat
}

select.classic:focus {
background-image:linear-gradient(45deg,white 50%,transparent 50%),linear-gradient(135deg,transparent 50%,white 50%),linear-gradient(to right,gray,gray);
background-position:calc(100% - 15px) 1em,calc(100% - 20px) 1em,100% 0;
background-size:5px 5px,5px 5px,2.5em 2.5em;
background-repeat:no-repeat;
border-color:grey;
outline:0
}

footer div.profile-footer {
width:100%;
display:block;
text-align:center;
font-size:17.5px;
color:white;
line-height:75px;
position:absolute;
bottom:0
}
div.page-main {
width:85%;
background-color:rgba(255, 255, 255, 0.058);

border-radius:10px;
text-align:left;
box-sizing:border-box;
padding:60px 25px;
display:inline-block;

margin-top:calc(((100vh - 565px) / 2))
}

div.profile-main {
width:400px;
background-color:white;
border-radius:10px;
text-align:center;
box-sizing:border-box;
padding:75px 25px;
display:inline-block;
height:490px;
margin-top:calc(((100vh - 565px) / 2))
}

div.profile-main section.profile-photo {
height:125px
}

div.profile-main section.profile-photo img {
height:125px;
border-radius:50%
}

div.profile-main section.profile-info {
height:100px
}

div.profile-main section.profile-info h1 {
font-size:24px;
font-weight:400;
line-height:25px;
padding-top:25px;
padding-bottom:10px
}

div.profile-main section.profile-info h2 {
font-size:18px;
font-weight:300;
line-height:30px
}

div.profile-main section.profile-links {
height:100px;
padding-top:37.5px;
padding-bottom:12.5px;
box-sizing:border-box
}

div.profile-main section.profile-links a {
height:50px;
text-decoration:none;
display:inline-block;
margin:0 7.5px
}

div.profile-main section.profile-links a svg {
height:50px;
width:auto
}

div.profile-main section.profile-links a svg path {
fill:#c8cccf;
transition:fill .25s ease
}

div.profile-main section.profile-links a:hover svg path {
fill:#414f57
}

@media only screen and (max-width: 444.44px) {
div.main {
width:90%
}
}

@media only screen and (max-height: 653.88px) and (max-width: 444.44px) {
div.main {
margin:5vw 0;
margin-bottom:0
}

footer {
position:relative
}
}